version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: health_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: health_reminder
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    container_name: health_app
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: health_reminder
    ports:
      - "5000:5000"

volumes:
  db_data:
